.vscode
**/__pycache__

# .csv and .zip data files
data/**/*.csv
data/**/*.zip

# .csv and .zip predictions files
predictions/**/*.csv
predictions/**/*.zip

#
scores/**/*.json
scores/**/*.zip

# 
tmp/**/*.csv
tmp/**/*.zip

# other .csv files
# **/*.csv
